@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
body{
    background-image: url("background02.jpg");

}
#name-logo{
    display: flex;
    position: absolute;
    z-index: 1;
}
#name-logo a{
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 1300px;
    animation: resume 1.5s ease-in-out ;
}
@keyframes resume{
    from{right: -200px;}
    to{right: 0px;}
}
#MyNameLogo{
    z-index: 1;
    position: relative;
    font-family: Arial;
    font-size: 50px;
    margin-top: 10px;
    margin-left: 90px;
    color: transparent;
    -webkit-text-stroke: 1px #9F9AD0;
    background: url("back.0.png");
    background-position: 0 0;
    -webkit-background-clip:text;   
    animation:  name_slide 1.5s ease-in-out 1, logobgmove 20s linear infinite;
}
@keyframes name_slide{
    from{left: -180px;}
    to{left: 0px;}
}
@keyframes logobgmove{
    100%{
        background-position: 2000px 0;
    }
}
#img-slider{
    position: absolute;
    background-color: #555D9E;
    height: 100vh;
    width: 50%;
    animation: imgslider 1s ease-in-out;
}
#main-name{
    color: white;
    position: absolute;
    font-size: 90px;
    margin-top: 500px;
    margin-left: 290px;
    animation:  name-slide 1.5s ease-in-out 1;
}
@keyframes name-slide{
    from{left: -220px;}
    to{left: 0px;}
}
#n-sirname{
    color: white;
    position: absolute;
   font-size: 90px;
   margin-left: 960px;
   margin-top: 500px;
   animation: sirname 1.5s ease-in-out;
}
@keyframes sirname {
    from{margin-left: 1100px;}
 
}
@keyframes name-slide{
    from{left: -220px;}
    to{left: 0px;}
}
@keyframes imgslider{
    from{width: 40%;}
    to{width: 50%;}
}
#web-info{
    color: white;
    position: absolute;
    font-size: 30px;
    margin-left: 300px;
    margin-top: 600px;
    animation:  name-slide 1.8s ease-in-out 1;
}
article{
    margin-top: 955px;
    position: absolute;
    width: 100%;
    height: 700px;
    z-index: 3;
    background-color: white;
    display: flex;
}
.about-info{
     width: 50%;
     height: auto;
     margin-left: 70px;
}
.skills-info{
    width: 50%;
   height: auto;;
}
article h1{
    font-size: 45px;
    margin-top: 100px;
    margin-left: 80px;
}
article hr{
    margin-left: 25px;
    margin-right: 10px;
}
article p{
    margin-top: 15px;
    font-size: 22px;
    margin-left: 90px;
}
article h3{
    margin-top: 10px;
    margin-left: 90px;
}
#edhu-info{
    font-size: 21px;
    margin-top: 5px;
}
.skills-info{
    margin-left: 250px;
}
.skills-info h1{
    margin-left: 70px;
    font-size: 45px;
    margin-top: 105px;
    margin-left: 80px;
}
.skills-info  hr{
    margin-left: 60px;
    margin-right: 400px;
}
.skills-info p{
    margin-left: 280px;
    font-size: 20px;
}
.skillslist{
    margin-top: 20px;
    margin-left: 90px;
}
.h3-skills{
    font-size: 25px;
    margin-left: 5px;
    margin-bottom: 8px;
    margin-top: 10px;
}
.bar{
    margin-left: 5px;
    background: #dedde2;
    display: block;
    height: 25px;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(.25,.8,.25);
}
.bar:hover{
    box-shadow: 0 10px 18px #958CBB;
}
.bar span{
    height: 25px;
    float: left;
    background: #A8A9E9;
}
.python{
    width: 75%;
}
.sql{
    width: 60%;
}
.web{
    width: 75%;
}
.git{
    width: 80%;
}
.ms{
    width: 70%;
}
section{
    margin-top: 1650px;
    position: absolute;
    width: 100%;
    height: 500px;
    z-index: 3;
    background-color: rgb(255, 255, 255);
    display: flex;
}
.project{
    height: 350px;
    width:20%;
    margin: 10px 150px 10px 10px;
    border-radius: 15px;
    cursor: pointer;
}

#pro1{
    margin-left: 210px;
   background-image: url("python.png");
    background-size: cover;
    color: black;
}
#pro2{
    background-image: url("netflix.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    color: black;
}
#pro3{
    background-image: url("mysql.png");
    background-size: contain;
    background-repeat: no-repeat;
    color: black;
}

/*-------------------------------CSS FOR SMALL SCREEN--------------------------------------*/

@media only screen and (max-width:600px){
    #img-slider{
        position: absolute;
        background-color: #555D9E;
        height: 180vh;
        width: 50%;
        animation: imgslider 1s ease-in-out;
    }
    @keyframes imgslider{
        from{width: 30%;}
        to{width: 50%;}
    }
    #MyNameLogo{
        font-size: 40px;
        margin-left: 50px;
    }
    #name-logo a{
        position: relative;
        text-decoration: none;
        color: white;
        font-size: 30px;
        margin-top: 18px;
        margin-left: 170px;
        animation: name-slide 1.5s ease-in-out 1;
    }
    @keyframes name-slide{
        from{right: -180px;}
        to{right: 0px;}
    }
    #main-name{
        color: white;
        position: absolute;
        font-size: 35px;
        margin-top: 550px;
        margin-left: 30px;
        animation: resume 1.5s ease-in-out ;
    }
    @keyframes resume{
        from{left: -100px;}
        to{left: 0px;}
    }
    #n-sirname{
       font-size: 35px;
       margin-left: 310px;
       margin-top: 550px;
       animation: sirname 1.8s ease-in-out;
    }
    @keyframes sirname {
        from{margin-left: 400px;}
     
    }
    #web-info{
        color: white;
        position: absolute;
        font-size: 20px;
        margin-left: 35px;
        margin-top: 600px;
        animation:  webinfo 1.8s ease-in-out 1;
    }
    @keyframes webinfo{
        from{left: -100px;}
        to{left: 0px;}
    }
    article{
        margin-top: 1100px;
    }
    .about-info{
        width: 50%;
        height: auto;
        margin-left: 1px;
   }
    article h1{
        font-size: 45px;
        margin-top: 20px;
        margin-left: 20px;
    }
    article hr{
        margin-left: 10px;
        margin-right: 10px;
    }
    article p{
        margin-top: 15px;
        font-size: 22px;
        margin-left: 20px;
    }
    article h3{
        margin-top: 10px;
        margin-left: 20px;
    }
    .bar{
        margin-left: 5px;
        height: 25px;
        width: 180px;
        border-radius: 10px;
        overflow: hidden;
        transition: all 0.3s cubic-bezier(.25,.8,.25);
    }
    .skills-info{
        margin-left: 8px;
    }
    .skillsinfo h1{
        font-size: 45px;
        margin-left: 10px;
        margin-top: 20px;
        margin-left: 80px;
    }
    .skills-info  hr{
        margin-left: 70px;
        margin-right: 1px;
    }
}
@media only screen and (max-width:400px){
    #MyNameLogo{
        margin-top: 20px;
        font-size: 35px;
        margin-left: 20px;
    }
    #name-logo a{
        position: relative;
        text-decoration: none;
        color: white;
        font-size: 29px;
        margin-top: 25px;
        margin-left: 60px;
        animation: name-slide 1.5s ease-in-out 1;
    }
    #main-name{
        color: white;
        position: absolute;
        font-size: 25px;
        margin-top: 550px;
        margin-left: 5px;
        animation: resume 1.5s ease-in-out ;
    }
    #n-sirname{
        font-size: 25px;
        margin-left: 200px;
        margin-top: 550px;
        animation: sirname 1.8s ease-in-out;
     }
     #web-info{
        color: white;
        position: absolute;
        font-size: 16px;
        margin-left: 3px;
        margin-top: 580px;
        animation:  webinfo 1.8s ease-in-out 1;
    }
    #img-slider{
        position: absolute;
        background-color: #555D9E;
        height: 123vh;
        width: 52%;
        animation: imgslider 1s ease-in-out;
    }
    article{
        margin-top: 700px;
        width: 100%;
        height: 1000px;
        z-index: 2;
        background-color: white;
        display:block;
    }
    .about-info{
        width: 100%;
        height: auto;
        margin-left: 1px;
   }
   .skills-info{
    width: 100%;
   height: auto;;
}
    .bar{
        margin-left: 5px;
        height: 20px;
        width: 250px;
        border-radius: 10px;
        overflow: hidden;
        transition: all 0.3s cubic-bezier(.25,.8,.25);
    }
    .skillsinfo h1{
        font-size: 33px;
        margin-top: 20px;
        margin-left: 10px;
    }
    .h3-skills{
        font-size: 20px;
        margin-left: 10px;
        margin-bottom: 8px;
        margin-top: 10px;
    }
    .about-info h1{
        font-size: 33px;
    }
    .about-info p{
        margin-top: 15px;
        font-size: 20px;
        margin-left: 8px;
    }
    .about-info h3{
        margin-top: 10px;
        margin-left: 10px;
    }
    .skillslist{
        margin-top: 20px;
        margin-left: 20px;
    }
    .skills-info{
        margin-left:5px;
    }
    .skills-info  hr{
        margin-left: 10px;
    }

 
}
